<section class='main-page'>
  <div class='articles'>
    <% if !@presenter.articles.nil? %>
      <% @presenter.articles.each do |article| %>
        <div class='article'>
          <p><%= article[0] %></p>
          <p><%= link_to article[1], article[2] %> <br> <%= article[4]  %>  </p>
          <p><%= article[3] %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
