body {
  display: grid;
  grid-template-rows: auto auto auto;
}

.articles {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: auto;
  justify-content: center;
}

.article {
  padding: 10px;
  border: 1px solid black;
  margin: 10px;
}

footer {
  text-align: center;
}
